<a href="https://colab.research.google.com/github/SuperNZH/IBM-ML-Professional-Certificate/blob/main/Capstone/2_Unsupervised_Learning_based_Recommender_System/2_1_Content_based_Course_Recommender_System_Using_User_Profile_and_Course_Genres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content-based Course Recommender System Using User Profile and Course Genres

The most common type of content-based recommendation system is to recommend items to users based on their profiles. The user's profile revolves around that user's preferences and tastes. It is shaped based on user ratings, including the number of times a user has clicked on different items or liked those items.

The recommendation process is based on the similarity between those items. The similarity or closeness of items is measured based on the similarity in the content of those items. When we say content, we're talking about things like the item's category, tag, genre, and so on. Essentially the features about an item.

With the user profile feature vectors and course genre feature vectors constructed, we can use several computational methods, such as a simple dot product, to compute or predict an interest score for each course and recommend those courses with high interest scores.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module\_3/images/user_profile_score.png)

**Objectives**

*   Generate a user profile based on course genres and rating
*   Generate course recommendations based on a user's profile and course genres

In [1]:
# Libs needed
import pandas as pd
import numpy as np
from sklearn import preprocessing
# random state

## Generate user profiles using courses genres and ratings

In [2]:
course_genre_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/course_genre.csv"
course_genres_df = pd.read_csv(course_genre_url)

In [3]:
course_genres_df.head()

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,ML0201EN,robots are coming build iot apps with watson ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,ML0122EN,accelerating deep learning with gpu,0,1,0,0,0,1,0,1,0,0,0,0,0,0
2,GPXX0ZG0EN,consuming restful services using the reactive ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,RP0105EN,analyzing big data in r using apache spark,1,0,0,1,0,0,0,0,1,0,1,0,0,0
4,GPXX0Z2PEN,containerizing packaging and running a sprin...,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [4]:
profile_genre_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/user_profile.csv"
profile_df = pd.read_csv(profile_genre_url)

In [5]:
profile_df.head()

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,2,52.0,14.0,6.0,43.0,3.0,33.0,0.0,29.0,41.0,2.0,18.0,34.0,9.0,6.0
1,4,40.0,2.0,4.0,28.0,0.0,14.0,0.0,20.0,24.0,0.0,6.0,6.0,0.0,2.0
2,5,24.0,8.0,18.0,24.0,0.0,30.0,0.0,22.0,14.0,2.0,14.0,26.0,4.0,6.0
3,7,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0

In [6]:
profile_df[profile_df['user'] == 8]

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0

In [7]:
test_users_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/rs_content_test.csv"
test_users_df = pd.read_csv(test_users_url)

In [8]:
test_users = test_users_df.groupby(['user']).max().reset_index(drop=False)
test_user_ids = test_users['user'].to_list()
print(f"Total numbers of test users {len(test_user_ids)}")

Total numbers of test users 1000

In [9]:
test_user_profile = profile_df[profile_df['user'] == 1078030]
test_user_profile

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
18204,1078030,0.0,12.0,0.0,9.0,0.0,12.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Now let's get the test user vector by excluding the `user` column
test_user_vector = test_user_profile.iloc[0, 1:].values
test_user_vector

array([ 0., 12.,  0.,  9.,  0., 12.,  0.,  6.,  0.,  0.,  0.,  0.,  0.,
        0.])

In [11]:
enrolled_courses = test_users_df[test_users_df['user'] == 1078030]['item'].to_list()
enrolled_courses = set(enrolled_courses)

In [12]:
enrolled_courses

{'DA0101EN',
 'DV0101EN',
 'ML0101ENv3',
 'ML0115EN',
 'ML0120ENv2',
 'ML0122ENv1',
 'PY0101EN',
 'ST0101EN'}

In [13]:
all_courses = set(course_genres_df['COURSE_ID'].values)
all_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0101EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0101ENv3',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0115EN',
 'ML0120EN',
 'ML0120ENv2',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv1',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'PY0101EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0101EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

Then we can use all courses to subtract the enrolled courses to get a set of all unknown courses for user `1078030`, and we want to find potential interested courses hidden in the unknown course list.

In [14]:
unknown_courses = all_courses.difference(enrolled_courses)
unknown_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0120EN',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

In [15]:
unknown_course_genres = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
# Now let's get the course matrix by excluding `COURSE_ID` and `TITLE` columns:
course_matrix = unknown_course_genres.iloc[:, 2:].values
course_matrix

array([[0, 0, 0, ..., 1, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0]])

Given the user profile vector for user 1078030 and all the unseen course genres vectors above, you can use the dot product to calculate the recommendation score for each unknown course. e.g., the recommendation score for course accelerating deep learning with gpu is:

In [16]:
score = np.dot(course_matrix[1], test_user_vector)
score

30.0

Later, we will need to choose a recommendation score threshold. If the score of any course is above the threshold, we may recommend that course to the user.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module\_3/images/recommend_courses.png)

Next, let's calculate the recommendation scores of all courses for all the 1000 test users.

In [17]:
# We first reload all datasets again, and create an empty dictionary to store the results
test_users_df = pd.read_csv(test_users_url)
profile_df = pd.read_csv(profile_genre_url)
course_genres_df = pd.read_csv(course_genre_url)
res_dict = {}

We only want to recommend courses with very high scores so we may set a score threshold to filter out those courses with low scores.

In [18]:
# Only keep the score larger than the recommendation threshold
# The threshold can be fine-tuned to adjust the size of generated recommendations
score_threshold = 10.0

We defined a function called `generate_recommendation_scores()` to compute the recommendation scores of all the unknown courses for all test users.

In [19]:
def generate_recommendation_scores():
    users = []
    courses = []
    scores = []
    for user_id in test_user_ids:
        test_user_profile = profile_df[profile_df['user'] == user_id]
        # get user vector for the current user id
        test_user_vector = profile_df[profile_df['user'] == user_id].iloc[0, 1:].values
        
        # get the unknown course ids for the current user id
        enrolled_courses = test_users_df[test_users_df['user'] == user_id]['item'].to_list()
        unknown_courses = all_courses.difference(enrolled_courses)
        unknown_course_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
        unknown_course_ids = unknown_course_df['COURSE_ID'].values
        
        # user np.dot() to get the recommendation scores for each course
        recommendation_scores = np.dot(unknown_course_df.iloc[:, 2:].values, test_user_vector)

        # Append the results into the users, courses, and scores list
        for i in range(0, len(unknown_course_ids)):
            score = recommendation_scores[i]
            # Only keep the courses with high recommendation score
            if score >= score_threshold:
                users.append(user_id)
                courses.append(unknown_course_ids[i])
                scores.append(recommendation_scores[i])
                
    return users, courses, scores

In [20]:
# Return users, courses, and scores lists for the dataframe
users, courses, scores = generate_recommendation_scores()
res_dict['USER'] = users
res_dict['COURSE_ID'] = courses
res_dict['SCORE'] = scores
res_df = pd.DataFrame(res_dict, columns=['USER', 'COURSE_ID', 'SCORE'])


res_df

          USER   COURSE_ID  SCORE
0        37465    RP0105EN   27.0
1        37465  GPXX06RFEN   12.0
2        37465    CC0271EN   15.0
3        37465    BD0145EN   24.0
4        37465    DE0205EN   15.0
...        ...         ...    ...
53406  2087663  excourse88   15.0
53407  2087663  excourse89   15.0
53408  2087663  excourse90   15.0
53409  2087663  excourse92   15.0
53410  2087663  excourse93   15.0

[53411 rows x 3 columns]